{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search App</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">MySearch Application</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="container">-->
<!--    <a class="navbar-brand" href="/">MySearch</a>-->
<!--      <ul class="right">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="/">Home</a>-->
<!--      </li>-->
<!--      </ul>-->
<!--  </div>-->
<!--</nav>-->
<div class="container">
<h3 style="text-align: center">What do you want to search</h3>
<div class="row">
    <div class="col s4">
        <div class="center">
            <i class="large material-icons dp48">flash_on</i>
            <p>MySearch Web Scrapper</p>
        </div>
    </div>

    <div class="col s4">
        <div class="center">
            <i class="large material-icons dp48">camera</i>
            <p>MySearch Web Scrapper</p>
        </div>
    </div>
     <div class="col s4">
        <div class="center">
            <i class="large material-icons dp48">chrome_reader_mode</i>
            <p>MySearch Web Scrapper</p>
        </div>
    </div>
</div>


{% block content %}

{% endblock content %}

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>